
spring:
  application:
    name: GATEWAY-SERVICE
  cloud:
    gateway:
      routes:
      - id: COUPON-SERVICE
        uri: lb://COUPON-SERVICE
        predicates:
        - Path=/coupon/**
#        filters:
#        - name: CircuitBreaker
#          args:
#            name: order-service
#            fallbackuri: forword:/orderFallBack

# 
      - id: PRODUCT-SERVICE
        uri: lb://PRODUCT-SERVICE
        predicates:
        - Path=/product/**
#        filters:
#         - name: CircuitBreaker
#           args:
#            name: payment-service
#            fallbackuri: forword:/paymentFallBack
#     
#  config:
#    import: configserver:http://localhost:9010 
#   
eureka:
  client:
#    register-with-eureka: true
#    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
#  instance:
#    hostname: localhost
server:
  port: 9020
  
  
        
  
  
  
